/* Header */
.box_info-titles {
  padding: 20px 0;
  box-sizing: border-box;
}

.box_info-titles > h3 {
  font-weight: bold;
  font-size: 20px;
}
.box_info-titles.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Header - Control */
.profile-status-header__controls {
  position: relative;
  padding-left: 30px;
}
.profile-status-header__controls:hover .profile-status-header__controls__popup {
  transform: scale(1);
}
.profile-status-header__controls::after {
  position: absolute;
  content: "";
  min-width: 105px;
  height: 20px;
  opacity: 0;
  right: 0;
  top: 75%;
}
.profile-status-header__controls > img {
  cursor: pointer;
}
/* Header-Control-Popup */
.profile-status-header__controls__popup {
  position: absolute;
  min-width: 105px;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 0px #00000040;
  top: 130%;
  right: 0;
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.25s ease;
}

.profile-status-header__controls__popup__item {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
}
.profile-status-header__controls__popup__item:hover {
  background-color: #fafafa;
  transition: all 0.2s ease;
}

.box_selected {
  padding: 10px 0;
}

.box_selected > h5 {
  font-size: 14px;
  color: #464e5f;
  margin-bottom: 5px;
}

.box_selected > input {
  height: 44px;
  width: 100%;
  background: #f3f6f9;
  border-radius: 0px;
  border: none;
  outline: none;
}

.box_datepiker > div {
  height: 44px;
  width: 100%;
  background: #f3f6f9;
  border-radius: 0px;
  border: none;
  outline: none;
}

.box_info-number {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
}

.box_selected-on > div {
  height: 44px;
  width: 100%;
  background: #f3f6f9;
  border-radius: 0px;
  border: none;
  outline: none;
}
.box_selected-on > div > div {
  background: #f3f6f9 !important;
  border: none !important;
}

.box-confirm {
  margin: 40px 0;
  display: flex;
  justify-content: end;
}
.box-confirm__btn__submit {
  min-width: 130px;
  height: 38px;
  background: #29b171;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
.box_info-content {
  flex-grow: 1;
  margin-left: 40px;
  padding-top: 8px;
  transition: all 0.3s ease;
  transform-origin: top left;
}

.party-sympathies-body {
  display: flex;
  transition: all 0.25s ease;
}
.party-sympathies-body.collapsed {
  height: 25px;
}
.party-sympathies-body.expanded {
  height: 270px;
}
.party-sympathies-body-counter {
  background-color: #e5eaee;
  width: 3px;
  border-radius: 8px;
  height: 261px;
  position: relative;
}
.party-sympathies-body-counter.collapsed {
  height: 25px;
}
.party-sympathies-body-counter.expanded {
  height: 261px;
}
.party-sympathies-body-counter__node {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: -12px;
  width: 70px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #3f4254;
  background-color: #fff;
  padding: 4px 0;
}
.box_info-content.collapsed {
  height: 0px;
  transform: scale(0);
}
.box_info-content.expanded {
  height: 100%;
  transform: scale(1);
}
.party-sympathies-body-counter__node__icon {
  background-color: #29b171;
  width: 15px;
  height: 15px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  cursor: pointer;
}
