

.Loadding{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0,0.2);
    z-index: 9999;
    text-align: center;
}

.loadding{
    color: #fff;
    font-size: 13px;
}