.Box_menu-detail{
    position: relative;
    width: 350px;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    background: #F3F6F9;
    margin-bottom: 10px;
}

.Box_menu-detail svg{
    color: #29B171;
}

.menu-hover{
    position: absolute;
    top: 22%;
    right: -9px;
    padding: 20px;
    background-color: #F3F6F9;
    transform: rotate(495deg);
}

.menu-hover-out:hover{
    position: absolute;
    top: 22%;
    right: -9px;
    padding: 20px;
    background: #F3F6F9;
    transform: rotate(495deg);
}

.Box_menu{
    width: 100%;
}

.box_menu-item{
    padding: 10px;
    box-sizing: border-box;
}

.box_menu-dis > h3{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.Box_menu-detail-out{
    position: relative;
    width: 350px;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box_menu-dis > span{
    font-size: 13px;
    color: #80808F;
}

.Box_menu-detail-out:hover{
    position: relative;
    width: 350px;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #F3F6F9;
}

.Box_menu-detail-out:hover svg{
    color: #29B171;
}