.profile-status-modal {
}
/* Header */
.profile-status-modal > .profile-status-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 16px;
}
.profile-status-modal > .profile-status-modal-header::after {
  position: absolute;
  content: "";
  width: 450px;
  height: 1px;
  background-color: #dddddd;
  top: 100%;
  left: -6%;
}
/* Header - Title */
.profile-status-modal
  > .profile-status-modal-header
  > .profile-status-modal-header__title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #464e5f;
}

/* Body */
.profile-status-modal > .profile-status-modal-body {
  margin-top: 12px;
}


/* Body - Block */
.profile-status-modal
  > .profile-status-modal-body
  > .profile-status-modal-body__block {
  margin-top: 20px;
}
.profile-status-modal
  > .profile-status-modal-body
  > .profile-status-modal-body__block
  > h5 {
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #464e5f;
}
.profile-status-modal-body__select, .profile-status-modal-body__block__date, .profile-status-modal-body__block__input {
    height:44px ;
    width: 100%;
    background: #F3F6F9;
    border-radius: 0px;
    border: none;
    outline: none;
}
.profile-status-modal-body__select > div{
  background-color: #F3F6F9 !important;
  border: none !important;
  outline: none !important;
}
 

/* Footer */
.profile-status-modal >.profile-status-modal-footer{
  text-align: center;
  margin-top: 40px;
}

.profile-status-modal
  > .profile-status-modal-footer
  > .profile-status-modal-footer__btn__submit {
    min-width: 200px;
    height: 38px;
    background: #29B171;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    color:#fff;
    outline: none;
    border: none;
    cursor: pointer;
}

