.box_info-titles{
    padding: 20px 0;
    box-sizing: border-box;
}

.box_info-titles > h3{
    font-weight: bold;
    font-size: 20px;
}

.box_selected{
    padding: 10px 0;
}


.box_selected > h5 {
    font-size: 14px;
    color: #464E5F;
    margin-bottom: 5px;
}

.box_selected > input{
    height: 44px;
    width: 100%;
    background: #F3F6F9;
    border-radius: 0px;
    border: none;
    outline: none;
}
.box_selected.select > div {
    height: 44px;
    width: 100%;
    background: #F3F6F9;
    border-radius: 0px;
    border: none;
    outline: none;
}
.box_selected.select > div > div {
  
    background: #F3F6F9 !important;
    border: none !important;
    outline: none !important;
}

.box_datepiker > div{
    height: 44px;
    width: 100%;
    background: #F3F6F9;
    border-radius: 0px;
    border: none;
    outline: none;
}

.box_info-number{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
}

.box_selected-on > div{
    height: 44px;
    width: 100%;
    background: #F3F6F9;
    border-radius: 0px;
    border: none;
    outline: none;  
}

.box-confirm{
    margin: 40px 0;
    display: flex;
    justify-content: end;
}
.box-confirm__btn{
    height: 40px !important;
    color: #fff;
    background: #29B171;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    min-width: 120px;
    /* margin-right: 10px; */
}