.party-sympathy-class-modal {
}
/* Header */
.party-sympathy-class-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 16px;
}
 .party-sympathy-class-modal-header::after {
  position: absolute;
  content: "";
  width: 450px;
  height: 1px;
  background-color: #dddddd;
  top: 100%;
  left: -6%;
}
/* Header - Title */
.party-sympathy-class-modal-header__title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #464e5f;
}

/* Footer */
.party-sympathy-class-modal-footer {
  text-align: center;
  margin-top: 40px;
}

.party-sympathy-class-modal-footer__btn__submit {
  min-width: 200px;
  height: 38px;
  background: #29b171;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Box select */
.box_selected {
  padding: 10px 0;
}

.box_selected > h5 {
  font-size: 14px;
  color: #464e5f;
  margin-bottom: 5px;
  font-weight: 600;
}

.box_selected > input {
  height: 44px;
  width: 100%;
  background: #f3f6f9;
  border-radius: 0px;
  border: none;
  outline: none;
}

.box_datepiker > div {
  height: 44px;
  width: 100%;
  background: #f3f6f9;
  border-radius: 0px;
  border: none;
  outline: none;
}

.box_info-number {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
}

.box_selected-on > div {
  height: 44px;
  width: 100%;
  background: #f3f6f9;
  border-radius: 0px;
  border: none;
  outline: none;
}
.box_selected-on > div > div {
  background: #f3f6f9 !important;
  border: none !important;
}