
.box_steps{
    margin: 20px 0;
    transition: all 0.3s ease;
    transform: scale(1);
    transform-origin: top left;
}
.box_steps-close{
    transform-origin: top left;
    transform: scale(0);
    margin: 20px 0;
    transition: all 0.3s ease;

}

.box_info-titles{
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.box_info-titles > h3{
    font-weight: bold;
    font-size: 20px;
}

.box_info-titles svg{
    width: 30px;
    font-weight: bold;
    cursor: pointer;
}

.box-title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-title > h5{
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.box_items-title{
    margin-bottom: 10px;
}

.steps-items{
    display: flex;
    margin-bottom: 0px;
    margin-left: 20px;
    align-items: center;
}

.place_edit{
    border-radius: 50%;
    background: #F3F6F9;
    display: grid;
    place-items: center;
    cursor: pointer;
    display: none;
}
.place_edit svg{
    font-size: 10px;
}

.box-items{
    margin-bottom: 40px;
}

/* .steps-items > div:first-child{
    margin-right: 20px;
    display: grid;
    place-items: center;
    background: #eeecec;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
} */

.item-round{
    margin-bottom: 5px;
}

.edit-disPlay{
    display: none;
}

.item-round:hover .place_edit{
    display: flex;
}

.price{
    color: #979797;
    font-size: 13px;
    font-weight: bold;
}

.title,.house{
    font-size: 13px;
    color:#464E5F ;
}



.m2{
    color: #979797;
    font-size: 13px;
}

.item-title{
    font-size: 13px;
    color: #A1A5B7;
    font-style: italic;
}

.title-add{
    min-width: 150px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: none;
}
.title-add > div{
    margin-left: 10px;
    color: #3F4254;
}

.title-add  > svg {
    font-size: 12px;
}

.calender{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 9fr;
    gap: 0 10px 0 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.close{
    transition: all 0.3s ease;
    animation: slidein 0.3s ease forwards;
}

@keyframes slidein {
    to {
      height: 25px;
    }
  }
.year{
    color: #3F4254;
    font-weight: bold;
}

.plus_icons{
    display: block;
    gap: 0 0 20px 0;
}

.icons{
    width: 20PX;
    height: 20px;
    border-radius: 50%;
    color: #FFF;
    background: #29B171;
    color: palegoldenrod;
    position: relative;
    cursor: pointer;
}

.icons img{
    font-size: 10;
    width: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.line{
    margin: 2px 0;
    margin-left: 8px;
    width: 3px;
    height: 100%;
    background-color: #E5EAEE;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.line-close{
    width: 3px;
    transition: all 0.3s ease;
    height: 0;
}